div.ui.divided.three.column.grid {
  height: 700px;
}

div.three.wide.column {
  height: 500px;
}

.ui.segment {
  background-color: rgba(255, 255, 255, 0.123);
  height: 230px;
  border: 0.5px solid rgb(241, 182, 18);
}

div.ui.divided {
  margin-left: 10px;
}
