.border-items{
  display: flex;
  border: 1px solid rgb(241, 182, 18);
  width: '50%';
}

.item-image{
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin: 5px;
}

.gear-name{
  color: 'rgb(241, 182, 18)';
  width: 100%;
}